NODE_ENV=production
PORT=8834
ADMIN_PASSWORD=change_me

LONGCAT_API_KEY=
LONGCAT_API_URL=https://api.longcat.chat/openai/v1/chat/completions
LONGCAT_MODEL=LongCat-Flash-Lite

MUSIC_API_URL=http://iwenwiki.com:3000
MUSIC_SOURCE=netease
